/* Styles pour la page Feed */
.posts {
    margin-top: 20px;
}

.post {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f0f0f3;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.post-image {
    max-width: 100%;
    border-radius: 5px;
    margin-top: 10px;
}

.reactions {
    margin-top: 10px;
}

.comment-list {
    margin-top: 10px;
    list-style-type: none;
    padding: 0;
}

.comment-input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}


/* Styles pour la photo de profil */

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.post-header {
    display: flex;
    align-items: center;
}

.profile-pic-comment {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 5px;
}