* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e3f2fd;
    color: #333;
}

header {
    background-color: #bbdefb;
    box-shadow: 5px 5px 10px #90a4ae, -5px -5px 10px #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

header h1 {
    text-align: center;
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    padding: 8px 12px;
    border-radius: 8px;


    background-color: #bbdefb;
    /* Bleu clair pour les liens */
    box-shadow: 3px 3px 6px #90a4ae, -3px -3px 6px #ffffff;
    transition: box-shadow 0.3s ease, transform 0.1s ease;
    font-weight: bold;
}

nav a:hover {
    box-shadow: 4px 4px 8px #90a4ae, -4px -4px 8px #ffffff;
}

nav a:active {
    box-shadow: inset 3px 3px 6px #90a4ae, inset -3px -3px 6px #ffffff;
    transform: scale(0.95);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* GESTION DES BOUTONS */

.btn {
    background-color: #bbdefb;
    color: #333;
    text-decoration: none;
    font-size: 12px;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    margin-top: 10px;
    box-shadow: 3px 3px 6px #90a4ae, -3px -3px 6px #ffffff;
    cursor: pointer;
    font-weight: bold;
    transition: box-shadow 0.3s ease, transform 0.1s ease;
}

.btn:hover {
    box-shadow: 4px 4px 8px #90a4ae, -4px -4px 8px #ffffff;
}

.btn:active {
    box-shadow: inset 3px 3px 6px #90a4ae, inset -3px -3px 6px #ffffff;
    transform: scale(0.95);
}

/* RESPONSIVE */

@media (max-width: 644px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    nav {
        margin-top: 10px;
    }

    nav a {
        display: block;
        margin: 10px;
    }
}